<!DOCTYPE html>
<html>
  <head>
    <title>Mitch Fischer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1>Mitch Fischer</h1>
      <h2>Instructor &amp; Web-Developer</h2>
    </div>
    <%= yield %>
  </body>
</html>
